version: 2.0
jobs:
  "mysql5.5":
    docker:
      - image: circleci/mysql:5.5
    steps:
      - checkout
      - run:
      - deploy:
          name: Push application Docker image
          command: |
            login="$(aws ecr get-login --region ap-southeast-1)"
            ${login}
            docker tag app 012881927014.dkr.ecr.ap-southeast-1.amazonaws.com/docker:latest1          
            docker push 012881927014.dkr.ecr.ap-southeast-1.amazonaws.com/docker:latest1
            docker run -it 012881927014.dkr.ecr.ap-southeast-1.amazonaws.com/docker:latest1 /bin/bash

  "mysql5.6":
    docker:
      - image: circleci/mysql:5.6.38
    steps:
      - checkout
      - run:
      - deploy:
          name: Push application Docker image
          command: |
            login="$(aws ecr get-login --region ap-southeast-1)"
            ${login}
            docker tag app 012881927014.dkr.ecr.ap-southeast-1.amazonaws.com/docker:latest2          
            docker push 012881927014.dkr.ecr.ap-southeast-1.amazonaws.com/docker:latest2
            docker run -it 012881927014.dkr.ecr.ap-southeast-1.amazonaws.com/docker:latest2 /bin/bash

  "mysql5.7":
    docker:
      - image: circleci/mysql:5.7.16
    steps:
      - checkout
      - run:
      - deploy:
          name: Push application Docker image
          command: |
            login="$(aws ecr get-login --region ap-southeast-1)"
            ${login}
            docker tag app 012881927014.dkr.ecr.ap-southeast-1.amazonaws.com/docker:latest3          
            docker push 012881927014.dkr.ecr.ap-southeast-1.amazonaws.com/docker:latest3
            docker run -it 012881927014.dkr.ecr.ap-southeast-1.amazonaws.com/docker:latest3 /bin/bash

workflows:
  version: 2
  build:
    jobs:
      - "mysql5.5"
      - "mysql5.6"
      - "mysql5.7"
